<br><br>


      <div class="container-fluid">
            <div class="row-fluid">
               <div class="span8">

            <% @tutorials.each do |tutorial| %> 
                   
           <div class="row-fluid">
                  <div class="span12">

                          <% @exercies = @exercise.where(:tutorial_id => tutorial.id) %>
         
                           <div class="panel panel-default">
                            <div class="panel-heading">
                            <h3>  
                              <%=tutorial.name %></h3>
                               <% tutorial.details %>
                            </div>
                            <div class="panel-body">
                              
                                     <% @exercies.each do |exer| %>
                                       <span><b><%= exer.title%></b>

                                     <b><%= link_to "start" ,learn_exercise_path(:id => exer.id), :class => 'btn btn-default pull-right'%></b>
                               </span> 
                                    <%exer.information %>

                                    <hr/>
                                <% end %>
                               
                            </div>  
                               
                                
                              

                        </div>        
                    
                               

                    </div>


             
            </div>
            <td><% link_to @name1, controller: 'tutorials',action: 'showbylanguage', tutorial_id: tutorial.language_id  %></td>
            <td><%l tutorial.created_at %></td>
            </tr>


            <%@name = tutorial.language.name%>
           <%@details = tutorial.language.details %>
            
          <% end %>

             
                 
          </div>
                         <div class="span3">

                         <div class="card" style="position:fixed;">
                             <%=@name%>
                             <hr/>
                              <%= @details %>
                            <hr /> 
                           </div>

                 
                       </div>

   
                 
               </div>
            </div>




      

          
